p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

form {
    width: inherit;
    margin-top: 1em;
}

input[type=text] {
    padding: 12px;
    width: 20em;
    margin-left: 9px;
    border-radius: 12px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
            0px 2px 4px rgba(0,0,0,0.1), 
            0px 4px 8px rgba(0,0,0,0.1), 
            0px 8px 16px rgba(0,0,0,0.1);
    border: 0;
}

button[type=submit] {
    margin: 20px 0px 20px 0px;
    border-radius: 12px;
    width: 8em;
    height: 4em;
    border-color: darkgray;
}

textarea {
    padding: 12px;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
            0px 2px 4px rgba(0,0,0,0.1), 
            0px 4px 8px rgba(0,0,0,0.1), 
            0px 8px 16px rgba(0,0,0,0.1);
    border: 0;
    resize: none;
}

table {
    border-spacing: 8px;
}

td {
    padding: 10px 0px 10px 50px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-bar-items {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0em 2em 0em 2em;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.additional-nav-items {
    display: inline-flex;
    justify-content: margin-right;
}

.hobbies-button {
    padding: 0em 2em 0em 2em;
}

.hobbies-button h2 {
    color: white;
}

.travels-button h2 {
    color: white;
}

.travels-button {
    padding: 0em 2em 0em 0em;
}

.timeline-button h2 {
    color: white;
}

.timeline-button {
    padding: 0em 2em 0em 0em;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.map {
    width: 75%;
    margin: auto;
    padding: 1em 0em 3em 0em;
}

.travels-description {
    display: flex;
    justify-content: center;
}

.name-email-section {
    display: flex;
    width: inherit;
    justify-content: space-around;
}

.timeline-form {
    color: #434343;
    width: 50em;
    height: 16em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #EDEDED;
    box-shadow: 2px 3px #CDCDCD;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0em 3em 5em 3em;
}

.timeline-section {
    display: flex;
    justify-content: center;
    padding-bottom: 3em;
    flex-direction: column;
    align-items: center;
}

.content-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#content {
    display: flex;
    width: 53.5em;    
}

.error-section {
    display: flex;
    align-items: center;
    width: 40em;
    justify-content: end;
    color: rgb(220, 68, 68);
}

.submit-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
}

.education{
    text-align: center;
    height: auto;
    margin-bottom: 50px;
}
.education h1 {
    font-size: 50px;
    font-weight: 700;
    color: #1d539f;
}

.about{
    text-align: center;    
    margin-bottom: 50px;   
}

.experience{
    text-align: center;
    margin-top: 200px;
    height: auto;
    margin-bottom: 50px;
}

.experience h1 {
    font-size: 50px;
    font-weight: 700;
    color: #1d539f;
}

.details>div>p {
    width: 200px;
    display: contents;
    text-align: center !important;
    align-self: center;
}

img {
    border-radius: 20%;
}