p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #f5f5f9;
    background-size: cover;
    width: auto; 
    overflow-x: hidden;
    font-family: "Roboto", serif;
    margin: 0px;
}

.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: #1C539F;
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 10px;
}

.nav-bar-items {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0em 2em 0em 2em;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

.additional-nav-items {
    display: inline-flex;
    justify-content: margin-right;
}

.hobbies-button {
    padding: 0em 2em 0em 2em;
}

.hobbies-button h2 {
    color: white;
}

.travels-button h2 {
    color: white;
}

.travels-button {
    padding: 0em 2em 0em 0em;
}

.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
}

.profile h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
}

.profile img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;        
        padding: 20px;
}

.profile .profile-picture {
    margin-bottom: 30px;
    height: 200px;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.map {
    width: 75%;
    margin: auto;
    padding: 1em 0em 3em 0em;
}

img {
    border-radius: 20%;
}

.container {
    display: flex;
    flex-direction: row;
}

.form {
    text-align: center;
    width: 40%; 
    align-items: center;    
    justify-content: center;
}

.form input {
    width: 80%;
    padding: 12px 20px;
    padding-left: 20px;    
    margin: 8px;
    margin-left: 20px;
    box-sizing: border-box;
}

.subject {
    height: 80px;
}