<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/timeline.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <div class="nav-bar-items">
                <div class="nav-logo">
                    <a href="/">
                        <img src="./static/img/logo.svg" />
                    </a>
                </div>
                <div class="additional-nav-items">
                    <a href='/hobbies'>
                        <div class="hobbies-button">
                            <h2>Hobbies</h2>
                        </div>
                    </a>
                    <a href='/travels'>
                        <div class="travels-button">
                            <h2>Travels</h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpeg">
        </div>
        <h1>{{ title }} </h1>
    </div>
    <div id="about_me" class="about">
        <h1>ABOUT ME</h1>
        <p>Hi there, I am an MLH fellow in Summer B group 5! I'm already learning a lot!!</p>
    </div>

    <div class="container">
        <form action="{{ url_for('create_timeline_post') }}" class="form" method="post" id="formListen">
          
            <label for="name" class="form__label">Name</label>
            <input type="text" name="name" value="{{ request.form['name'] }}" placeholder="Name" class="form__input" id="name" />
          
            <label for="email" class="form__label">Email</label>
            <input type="email" name="email" value="{{ request.form['email'] }}" placeholder="Email" class="form__input" id="email" />
            
            <label for="subject" class="form__label" >Content</label>
            <input type="text" name="content" value="{{ request.form['content'] }}" placeholder="Subject" class="form__input subject" id="subject" />
            
            <button class="form__button">Submit</button>
        </form>
      
        <div class="timeline">
                
            {% for post in data %}

                <h1> {{ post.name }} {{ post.email }} </h1>                
                <h4> {{ post.created_at }} </h4>
                <p> {{ post.content }} </p>

            {% endfor %}

        </div>
    
    </div>

    <script>
 
        const form = document.getElementById('formListen');        

        form.addEventListener('submit', function(e) {
            e.preventDefault();   
            // reload page
            const payload = new FormData(form);
            
            // Post the payload using Fetch:
            fetch("{{ url_for('create_timeline_post') }}", {
            method: 'POST',
            body: payload,
            })
            .then(res => res.json())
            .then(data => console.log(data));


            location.replace(location.href);      
        })
    
    </script>


    
</body>
</html>